<form action="">
    <table>
        <tr>
            <td>Coin ID: </td>
            <td><input list="coins" name="coins" /></td>
        </tr>
        <br>
        <br>
        <tr>
            <th colspan="2">Time Interval</th>
        </tr>
        <tr>
            <td>From: </td>
            <td><input type="date" /></td>
        </tr>
        
        <tr>
            <td>To: </td>
            <td><input type="date" /></td>
        </tr>
    
    </table>
    <div class="btn-holder">
        <input class="btn" type="submit" value="Submit">
    </div>
</form>



<datalist id="coins">
    <option value="btc-bitcoin">
    <option value="eth-ethereum">
    <option value="hex-hex">
    <option value="ada-cardano">
    <option value="usdt-tether">
    <option value="bnb-binance-coin">
    <option value="xrp-xrp">
</datalist>