#container{
    margin: 5%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#section-chart{
    flex-grow: 8;
}

#section-control-box{
    border: 1px black solid;
    flex-grow: 6;
    max-width: 300px;
    overflow: auto;
    min-height: 300px;
    border: 1px solid steelblue;
    padding: 30px;
    border-radius: 5px;

}

