<div id="container">
    <table>
        <tr>
            <td>Currency ID: </td>
            <td><input  name="coinId" [(ngModel)]="coinId" id="coinId" /></td>
        </tr>
        <br>
        <br>
        <tr>
            <th colspan="2">Time Interval</th>
        </tr>
        <tr>
            <td>From: </td>
            <td><input type="date" name="fromDate" [(ngModel)]="fromDate" value={{fromDate}}/></td>
        </tr>
            
        <tr>
            <td>To: </td>
            <td><input type="date" name="toDate" [(ngModel)]="toDate" value={{toDate}}/></td>
        </tr>
    </table>

    <div id="response-msg">
        <p>{{coinId}}</p>
    </div>
    
    <div class="btn-holder">
        <button class="btn" (click)="onClick()">Get Chart</button>
    </div>
</div>
