<div id="container">
    <table>
        <tr>
            <td>Coin ID: </td>
            <td><input  name="coinId" [(ngModel)]="coinId"/></td>
        </tr>
        <tr>
            <td>Coin Name: </td>
            <td><input name="coinName" [(ngModel)]="coinName" readonly/></td>
        </tr>
        <br>
        <br>
        <tr>
            <th colspan="2">Time Interval</th>
        </tr>
        <tr>
            <td>From: </td>
            <td><input type="date" name="fromDate" [(ngModel)]="fromDate" value={{fromDate}}/></td>
        </tr>
            
        <tr>
            <td>To: </td>
            <td><input type="date" name="toDate" [(ngModel)]="toDate" value={{toDate}}/></td>
        </tr>
    </table>

    <div id="response-msg" [ngStyle]="{'background-color': color}">
        <p>{{responseMessage}}</p>
    </div>
    
    <div>
        <button class="btn" (click)="onClick()">Get Chart</button>
    </div>
</div>
