<div id="container">
    <table>
        <tr>
            <td>Currency ID: </td>
            <td><input list="coins" name="coins" value={{coinId}}/></td>
        </tr>
        <br>
        <br>
        <tr>
            <th colspan="2">Time Interval</th>
        </tr>
        <tr>
            <td>From: </td>
            <td><input type="date" id="from-date" value={{fromDate}}/></td>
        </tr>
            
        <tr>
            <td>To: </td>
            <td><input type="date" id="to-date" value={{toDate}}/></td>
        </tr>
    </table>

    <div>
        <p>{{responseMessage}}</p>
    </div>
    
    <div class="btn-holder">
        <button class="btn">Get Chart</button>
    </div>
</div>
